body{
    background-color: rgb(199, 137, 137);
    background-image: url("/img/estrellas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}



.container{
    display: flex;
    width: 100%;

}
.div1{
    margin: 5px;
    width: 50%;
    height: auto;
    background-color: aqua;
    border-radius: 100%;
}

.div2{
    margin: 5px;
    width: 50%;
    height: auto;

    border-radius: 5%;
}

.starts{
    display: flex;
    float: right;

}
.start{
    width: 30px;
    height: 40px;
    
    margin: 5px;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/009/380/214/small/mobile-game-golden-star-clipart-design-illustration-free-png.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.img_book{
    width: 100%;
}

.img_book img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

.img_start{
    width: 100%;
}

.img_start img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}


.start2{
    width: 70px;
    height: 70px;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/009/380/214/small/mobile-game-golden-star-clipart-design-illustration-free-png.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 5px;
}

.start3{
    width: 150px;
    height: 50px;
    background-color: yellow;
    margin: 5px;
    background-image: url("https://www.shutterstock.com/image-vector/colombia-flag-isolated-on-png-260nw-2141663555.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

